<center>
    JSQL - Java Script Query Language.<br>
    Develop by: Nguyễn Tấn Hậu|
    Language: NodeJS|
    <a href="#">Documentation</a>
    <br>
    <% if(sess != null){ %>
    <p>Hi <%= sess.username%>, Welcome  to JSQL</p>
    <% } %>
</center>